{% embed '@Forumify/components/modal.html.twig' %}
    {% block modalOpenButton %}
        <button class="btn-outlined">
            <i class="ph ph-plus"></i>
            {{ 'admin.plugins.install_plugin'|trans }}
        </button>
    {% endblock %}
    {% block modalContent %}
        <div {{ stimulus_target('forumify/plugin-manager', 'installMethod') }} class="card">
            <div class="card-title">{{ 'admin.plugins.install'|trans }}</div>
            <div class="card-body flex justify-center gap-2">
                <a href="{{ path('forumify_admin_marketplace') }}" class="btn-cta">{{ 'admin.plugins.marketplace_button'|trans }}</a>
                <button
                    class="btn-primary"
                    {{ stimulus_action('forumify/plugin-manager', 'toggleManualInstall') }}
                >
                    {{ 'admin.plugins.packagist_button'|trans }}
                </button>
            </div>
        </div>
        <div {{ stimulus_target('forumify/plugin-manager', 'manualInstall') }} class="card d-none">
            <div class="card-title">{{ 'admin.plugins.install_plugin_temp'|trans }}</div>
            <div class="card-body">
                <p class="text-small mb-4">
                    <i class="ph ph-info"></i>
                    {{ 'admin.plugins.install_plugin_temp_warning'|trans }}
                </p>
                <form data-action="forumify--plugin-manager#install forumify--modal#close">
                    <div class="form-row">
                        <label for="plugin-package">{{ 'admin.plugins.plugin_package'|trans }}</label>
                        <input id="plugin-package" type="text" name="pluginPackage">
                        <div class="help-text">{{ 'admin.plugins.plugin_package_help'|trans }}</div>
                    </div>
                    <div class="form-row">
                        <input type="checkbox" required="required" id="understand-risks">
                        <label for="understand-risks">{{ 'admin.plugins.install_risk'|trans }}</label>
                    </div>
                    <div class="flex justify-center gap-2">
                        <button type="submit" class="btn-primary">
                            {{ 'admin.plugins.install_plugin'|trans }}
                        </button>
                        <button
                            type="button" class="btn-outlined"
                            {{ stimulus_action('forumify/plugin-manager', 'toggleManualInstall') }}
                        >
                            {{ 'cancel'|trans }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
{% endembed %}
