{% set metadata = plugin.plugin.pluginMetadata %}
{% set updateAvailable = plugin.version != plugin.latestVersion %}
<li class="flex{{ loop.last ? '' : ' mb-4' }}{{ loop.first ? '' : ' mt-4' }}">
    <div class="w-75">
        <div class="flex items-baseline gap-2">
            <h3>{{ metadata.name }}</h3>
            {% if plugin.subscriptionVersion %}
                <div class="alert-success rounded text-small p-1 pl-2 pr-2">
                    <span class="text-black">{{ plugin.subscriptionVersion|upper }}</span>
                </div>
            {% endif %}
            <span class="text-small">
                ({{ plugin.version }})
                {% if updateAvailable %}
                    <span class="ml-2">
                        <i class="ph ph-download"></i>
                        {{ 'admin.plugins.update_available'|trans({ version: plugin.latestVersion }) }}
                    </span>
                {% endif %}
            </span>
        </div>
        <p>{{ metadata.description }}</p>
        <p class="mt-4">
            {% if metadata.homepage %}
                <a href="{{ metadata.homepage }}" target="_blank">{{ 'created_by'|trans({ author: metadata.author }) }}</a>
            {% else %}
                {{ 'created_by'|trans({ author:metadata.author }) }}
            {% endif %}
        </p>
    </div>
    <div class="w-25 flex justify-end gap-2">
        {% if plugin.type == constant('Forumify\\Plugin\\Entity\\Plugin::TYPE_PLUGIN') %}
            {% embed '@Forumify/components/menu.html.twig' with { placement: 'bottom-end', buttonClass: 'btn-outlined' } %}
                {% block button_text %}{{ 'admin.plugins.manage'|trans }}{% endblock %}
                {% block menu_items %}
                    {% if updateAvailable %}
                        <a class="btn-link" {{ stimulus_action('forumify/forumify-platform/plugin_manager', 'updatePackage', null, {
                            package: plugin.package,
                            version: plugin.latestVersion
                        }) }}>
                            <i class="ph ph-download"></i>{{ 'admin.plugins.update'|trans }}
                        </a>
                    {% endif %}
                    {% if plugin.active %}
                        {% if metadata.settingsRoute %}
                            <a class="btn-link" href="{{ path(metadata.settingsRoute) }}">
                                <i class="ph ph-wrench"></i>{{ 'admin.plugins.settings'|trans }}
                            </a>
                        {% endif %}
                        <a class="btn-link" {{ stimulus_action('forumify/forumify-platform/plugin_manager', 'deactivate', null, {
                            plugin: plugin.id
                        }) }}>
                            <i class="ph ph-power"></i>{{ 'admin.plugins.deactivate'|trans }}
                        </a>
                    {% else %}
                        <a class="btn-link" {{ stimulus_action('forumify/forumify-platform/plugin_manager', 'activate', null, {
                            plugin: plugin.id
                        }) }}>
                            <i class="ph ph-power"></i>{{ 'admin.plugins.activate'|trans }}
                        </a>
                        <a class="btn-link" {{ stimulus_action('forumify/forumify-platform/plugin_manager', 'uninstall', null, {
                            package: plugin.package
                        }) }}>
                            <i class="ph ph-trash"></i>{{ 'admin.plugins.uninstall'|trans }}
                        </a>
                    {% endif %}
                {% endblock %}
            {% endembed %}
        {% elseif plugin.type == constant('Forumify\\Plugin\\Entity\\Plugin::TYPE_THEME') %}
            {% if plugin.package != 'forumify/forumify-theme' %}
                <a class="btn-outlined" {{ stimulus_action('forumify/forumify-platform/plugin_manager', 'uninstall', null, {
                    package: plugin.package
                }) }}>
                    <i class="ph ph-trash"></i>{{ 'admin.plugins.uninstall'|trans }}
                </a>
            {% endif %}
        {% endif %}
    </div>
</li>
