{% set metadata = plugin.plugin.pluginMetadata %}
{% set updateAvailable = plugin.version != plugin.latestVersion %}
<li class="flex{{ loop.last ? '' : ' mb-4' }}{{ loop.first ? '' : ' mt-4' }}">
    <div class="w-75">
        <div class="flex items-baseline gap-1">
            <h3>{{ metadata.name }}</h3>
            <span class="text-small">
                ({{ plugin.package }}@{{ plugin.version }})
                {% if updateAvailable %}
                    <span class="ml-2">
                        <i class="ph ph-download"></i>
                        {{ 'admin.plugins.update_available'|trans({ version: plugin.latestVersion }) }}
                    </span>
                {% endif %}
            </span>
        </div>
        <p>{{ metadata.description }}</p>
        <p class="mt-4">
            {% if metadata.homepage %}
                <a href="{{ metadata.homepage }}" target="_blank">{{ 'created_by'|trans({ author: metadata.author }) }}</a>
            {% else %}
                {{ 'created_by'|trans({ author:metadata.author }) }}
            {% endif %}
        </p>
    </div>
    <div class="w-25 flex justify-end gap-2">
        <div {{ stimulus_controller('forumify/forumify-platform/menu', { placement: 'bottom-end' }) }}>
            <button class="btn-outlined" {{ stimulus_target('forumify/forumify-platform/menu', 'openButton') }}>
                <i class="ph ph-caret-down"></i>{{ 'admin.plugins.manage'|trans }}
            </button>
            <div class="menu" {{ stimulus_target('forumify/forumify-platform/menu', 'menu') }}>
                {% if updateAvailable %}
                    <a class="btn-link" {{ stimulus_action('forumify/forumify-platform/plugin_manager', 'send', null, {
                        action: 'update',
                        plugin: plugin.id
                    }) }}>
                        <i class="ph ph-download"></i>{{ 'admin.plugins.update'|trans }}
                    </a>
                {% endif %}
                {% if plugin.active %}
                    {% if metadata.settingsRoute %}
                        <a class="btn-link" href="{{ path(metadata.settingsRoute) }}">
                            <i class="ph ph-wrench"></i>{{ 'admin.plugins.settings'|trans }}
                        </a>
                    {% endif %}
                    <a class="btn-link" {{ stimulus_action('forumify/forumify-platform/plugin_manager', 'send', null, {
                        action: 'deactivate',
                        plugin: plugin.id
                    }) }}>
                        <i class="ph ph-power"></i>{{ 'admin.plugins.deactivate'|trans }}
                    </a>
                {% else %}
                    <a class="btn-link" {{ stimulus_action('forumify/forumify-platform/plugin_manager', 'send', null, {
                        action: 'activate',
                        plugin: plugin.id
                    }) }}>
                        <i class="ph ph-power"></i>{{ 'admin.plugins.activate'|trans }}
                    </a>
                    <a class="btn-link" {{ stimulus_action('forumify/forumify-platform/plugin_manager', 'send', null, {
                        action: 'uninstall',
                        plugin: plugin.id
                    }) }}>
                        <i class="ph ph-trash"></i>{{ 'admin.plugins.uninstall'|trans }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</li>
