{% extends '@Forumify/admin/base.html.twig' %}
{% block title_page %}{{ 'admin.plugins.plugins'|trans }}{% endblock %}
{% block body %}
    <div {{ stimulus_controller('forumify/forumify-platform/plugin_manager', { token: ajaxAuthToken }) }}>
        <div class="flex justify-between items-center mb-4">
            <h2 class="mb-0">{{ 'admin.plugins.platform.title'|trans }}</h2>
            <div class="flex items-center gap-2">
                {% include '@Forumify/admin/plugin/browse_modal.html.twig' %}
                <a class="btn-outlined" href="{{ path('forumify_admin_plugin_refresh') }}">
                    <i class="ph ph-arrows-clockwise"></i>
                    {{ 'admin.plugins.refresh'|trans }}
                </a>
                <button class="btn-primary" {{ stimulus_action('forumify/forumify-platform/plugin_manager', 'updateAll') }}>
                    <i class="ph ph-download"></i>
                    {{ 'admin.plugins.update_all'|trans }}
                </button>
            </div>
        </div>
        <div class="box mb-6">
            <div class="flex items-baseline gap-1">
                <h3>{{ 'admin.plugins.platform.name'|trans }}</h3>
                {% if platformVersions is not null %}
                    <span class="text-small">
                        ({{ platformVersions.version }})
                        {% if platformVersions['latest-status'] == 'update-possible' %}
                            <span class="ml-2">
                                {{ 'admin.plugins.update_available'|trans({ version: platformVersions.latest }) }}
                                <button class="btn-link" {{ stimulus_action('forumify/forumify-platform/plugin_manager', 'updatePlatform', null, { version: platformVersions.latest }) }}>
                                    <i class="ph ph-download"></i>
                                    {{ 'admin.plugins.update'|trans }}
                                </button>
                            </span>
                        {% endif %}
                    </span>
                {% endif %}
            </div>
            <p>{{ 'admin.plugins.platform.description'|trans }}</p>
        </div>
        <div class="rich-text d-none" {{ stimulus_target('forumify/forumify-platform/plugin_manager', 'log') }}>
            <div class="alert-error d-none mb-4">
                {{ 'admin.plugins.errors'|trans }}
            </div>
            {% embed '@Forumify/components/modal.html.twig' %}
                {% block modalOpenButton %}
                    <a class="btn-link mb-4">{{ 'admin.plugins.open_log'|trans }}</a>
                {% endblock %}
                {% block modalContent %}
                    <div class="box">
                        <pre style="height: 600px; overflow-y: auto"></pre>
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
        <div {{ stimulus_target('forumify/forumify-platform/plugin_manager', 'pluginList') }}>
            {% embed '@Forumify/components/tabs.html.twig' %}
                {% block tabs %}
                    <button type="button" class="btn-link" data-tab-id="tab-plugins">{{ 'admin.plugins.plugins'|trans }}</button>
                    <button type="button" class="btn-link" data-tab-id="tab-themes">{{ 'admin.plugins.themes'|trans }}</button>
                {% endblock %}
                {% block tabpanels %}
                    <div id="tab-plugins">
                        {% include '@Forumify/admin/plugin/plugin_list.html.twig' with {
                            plugins: activePlugins,
                            emptyText: 'admin.plugins.no_active_plugins'|trans,
                        } only %}
                        {% if inactivePlugins|length > 0 %}
                            <h2 class="mt-6">{{ 'admin.plugins.inactive_plugins'|trans }}</h2>
                            {% include '@Forumify/admin/plugin/plugin_list.html.twig' with {
                                plugins: inactivePlugins,
                                emptyText: ''
                            } only %}
                        {% endif %}
                    </div>
                    <div id="tab-themes">
                        <p class="mb-4">{{ 'admin.plugins.manage_themes'|trans({ themesPath: path('forumify_admin_themes_list') })|raw }}</p>
                        {% include '@Forumify/admin/plugin/plugin_list.html.twig' with {
                            plugins: themes,
                            emptyText: 'admin.plugins.no_themes'|trans,
                        } only %}
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
        <div
            class="flex flex-col items-center justify-start d-none"
            {{ stimulus_target('forumify/forumify-platform/plugin_manager', 'progress') }}
        >
            {% include '@Forumify/components/loader.html.twig' %}
            <p class="w-100"><span class="step"></span>...</p>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
        </div>
    </div>
{% endblock %}
