{% extends '@Forumify/admin/base.html.twig' %}
{% block title_page %}{{ 'admin.plugins.plugins'|trans }}{% endblock %}
{% block body %}
    <div {{ stimulus_controller('forumify/forumify-platform/plugin_manager', { token: ajaxAuthToken }) }}>
        <div class="flex justify-between items-center mb-4">
            <h2 class="mb-0">{{ 'admin.plugins.platform.title'|trans }}</h2>
            <div class="flex items-center gap-2">
                {% embed '@Forumify/components/modal.html.twig' %}
                    {% block modalOpenButton %}
                        <button class="btn-outlined">
                            <i class="ph ph-shopping-cart"></i>
                            {{ 'admin.plugins.marketplace'|trans }}
                        </button>
                    {% endblock %}
                    {% block modalContent %}
                        <div class="card">
                            <div class="card-title">{{ 'admin.plugins.install_plugin_temp'|trans }}</div>
                            <div class="card-body">
                                <p class="text-small mb-4">
                                    <i class="ph ph-info"></i>
                                    {{ 'admin.plugins.install_plugin_temp_warning'|trans }}
                                </p>
                                <form {{ stimulus_action('forumify/forumify-platform/plugin_manager', 'install') }}>
                                    <div class="form-row">
                                        <label for="plugin-package">{{ 'admin.plugins.plugin_package'|trans }}</label>
                                        <input id="plugin-package" type="text" name="pluginPackage">
                                        <div class="help-text">{{ 'admin.plugins.plugin_package_help'|trans }}</div>
                                    </div>
                                    <div class="form-row">
                                        <input type="checkbox" required="required" id="understand-risks">
                                        <label for="understand-risks">{{ 'admin.plugins.install_risk'|trans }}</label>
                                    </div>
                                    <div class="flex justify-center">
                                        <button type="submit" class="btn-primary">
                                            {{ 'admin.plugins.install_plugin'|trans }}
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endblock %}
                {% endembed %}
                <button class="btn-primary" {{ stimulus_action('forumify/forumify-platform/plugin_manager', 'send', null, {
                    action: 'update',
                }) }}>
                    <i class="ph ph-download"></i>
                    {{ 'admin.plugins.update_all'|trans }}
                </button>
            </div>
        </div>
        <div class="box mb-6">
            <div class="flex items-baseline gap-1">
                <h3>{{ 'admin.plugins.platform.name'|trans }}</h3>
                {% if platformVersions is not null %}
                    <span class="text-small">
                        ({{ platformVersions.version }})
                        {% if platformVersions['latest-status'] == 'update-possible' %}
                            <span class="ml-2">
                                {{ 'admin.plugins.update_available'|trans({ version: platformVersions.latest }) }}
                                <button class="btn-link" {{ stimulus_action('forumify/forumify-platform/plugin_manager', 'send', null, {
                                    action: 'update',
                                    platform: true,
                                }) }}>
                                    <i class="ph ph-download"></i>
                                    {{ 'admin.plugins.update'|trans }}
                                </button>
                            </span>
                        {% endif %}
                    </span>
                {% endif %}
            </div>
            <p>{{ 'admin.plugins.platform.description'|trans }}</p>
        </div>
        <div>
            <h2>
                {{ 'admin.plugins.plugins'|trans }}
                <a class="btn-outlined btn-small btn-icon" href="{{ path('forumify_admin_plugin_refresh') }}">
                    <i class="ph ph-arrows-clockwise"></i>
                </a>
            </h2>
            <div
                class="alert-error mb-6 d-none"
                {{ stimulus_target('forumify/forumify-platform/plugin_manager', 'errorBox') }}
            ></div>
            <div
                class="flex justify-center d-none"
                {{ stimulus_target('forumify/forumify-platform/plugin_manager', 'loader') }}
            >
                {% include '@Forumify/components/loader.html.twig' %}
            </div>
            <div {{ stimulus_target('forumify/forumify-platform/plugin_manager', 'pluginList') }}>
                <ul class="box">
                    {% for plugin in activePlugins|filter(p => p.plugin is not null) %}
                        {% include '@Forumify/admin/plugin/plugin.html.twig' %}
                        {% if not loop.last %}
                            <hr>
                        {% endif %}
                    {% else %}
                        {{ 'admin.plugins.no_active_plugins'|trans }}
                    {% endfor %}
                </ul>
                {% if inactivePlugins|length > 0 %}
                    <h2 class="mt-6">{{ 'admin.plugins.inactive_plugins'|trans }}</h2>
                    <ul class="box">
                        {% for plugin in inactivePlugins|filter(p => p.plugin is not null) %}
                            {% include '@Forumify/admin/plugin/plugin.html.twig' %}
                            {% if not loop.last %}
                                <hr>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
