{% use 'form_div_layout.html.twig' %}

{% block form_label %}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- else -%}
            {% set label_attr = label_attr|merge({'class': 'text-bold text-large'}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {{- block('form_label_content') -}}
        </{{ element|default('label') }}>
    {%- endif -%}
{% endblock %}

{% block form_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr|merge({ class: (row_attr.class|default('') ~ ' form-row') })} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_help(form) -}}
    </div>
{% endblock %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="form-errors">
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{% block checkbox_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr|merge({ class: (row_attr.class|default('') ~ ' form-row') })} %}{{ block('attributes') }}{% endwith %}>
        {{- form_widget(form, widget_attr) }}
        {{ form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_help(form) -}}
    </div>
{% endblock %}

{% block rich_text_editor_row %}
    {% include '@Forumify/form/type/rich_editor.html.twig' %}
{% endblock %}

{% block code_editor_row %}
    {% include '@Forumify/form/type/code_editor.html.twig' %}
{% endblock %}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {%- if type == 'file' -%}
        {% include '@Forumify/form/type/file_upload.html.twig' %}
    {%- else -%}
        {{ parent() }}
    {%- endif -%}
{%- endblock form_widget_simple -%}
