{% extends '@Forumify/frontend/auth/auth.html.twig' %}
{% block title_page %}{{ 'login.login'|trans }}{% endblock %}
{% block form_title %}{{ 'login.login'|trans }}{% endblock %}
{% block form %}
    {% if error %}
        <div class="alert-error mb-4">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form id="login-form" action="{{ app.request.requestUri }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        {% set userIdentifier = setting('forumify.login_method') %}
        {%- set identifierLabel -%}
            {% if userIdentifier == 'email' %}
                {{- 'email'|trans -}}
            {% elseif userIdentifier == 'both' %}
                {{- 'username_and_email'|trans -}}
            {% else %}
                {{- 'username'|trans -}}
            {% endif %}
        {% endset %}
        {% block login_form %}
            <div class="form-row mb-2">
                <input
                    type="text"
                    id="username"
                    name="_username"
                    value="{{ last_username }}"
                    placeholder="{{ identifierLabel }}"
                    autofocus="autofocus"
                    autocomplete="username"
                >
            </div>
            <div class="form-row mb-2">
                <input
                    type="password"
                    id="password"
                    name="_password"
                    placeholder="{{ 'password'|trans }}"
                    autocomplete="current-password"
                >
            </div>
        {% endblock %}
        {% block forgot_password %}
            <div class="flex justify-between items-baseline">
                <a href="{{ path('forumify_core_forgot_password') }}">{{ 'forgot_password.forgot_password'|trans }}?</a>
                <div>
                    <input type="checkbox" id="rememberme" name="_remember_me" checked>
                    <label for="rememberme">{{ 'remember_me'|trans }}</label>
                </div>
            </div>
        {% endblock %}
        {% block actions %}
            <div class="mt-8 mb-8 flex flex-col items-stretch gap-2 w-100">
                {% block actions_login %}
                    {% if setting('forumify.recaptcha.enabled') %}
                        <button
                            class="btn-primary g-recaptcha"
                            data-sitekey="{{ setting('forumify.recaptcha.site_key') }}"
                            data-callback="onLogin"
                            data-action="login"
                        >
                            <i class="ph ph-sign-in"></i>{{ 'login.login'|trans }}
                        </button>
                    {% else %}
                        <button class="btn-primary" type="submit">
                            <i class="ph ph-sign-in"></i>{{ 'login.login'|trans }}
                        </button>
                    {% endif %}
                {% endblock %}
                {% block actions_idp %}
                    {% for idp in idps %}{{ idp|idp_button }}{% endfor %}
                {% endblock %}
            </div>
        {% endblock %}
        {% block register %}
            {% if setting('forumify.enable_registrations') %}
                <p class="text-center">
                    {{ 'login.no_account'|trans }}&nbsp;
                    <a href="{{ path('forumify_core_register') }}">{{ 'login.register'|trans }}</a>
                </p>
            {% endif %}
        {% endblock %}
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if setting('forumify.recaptcha.enabled') %}
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script type="text/javascript">
            function onLogin() {
                document.getElementById('login-form').submit();
            }
        </script>
    {% endif %}
{% endblock %}
