{% extends '@Forumify/frontend/auth/auth.html.twig' %}
{% block title %}{{ parent() }} - Register{% endblock %}
{% block form_title %}Register{% endblock %}
{% block form %}
    {{ form_start(form, { attr: { id: 'registration-form' } }) }}
    {% if error is not null %}
        <div class="alert-error mb-6">{{ error|trans }}</div>
    {% endif %}
    {{ form_widget(form) }}
    <div class="form-row d-none">
        <input id="terms-of-service" type="checkbox" name="terms-of-service">
        <label for="terms-of-service">I agree with the Terms Of Service</label>
    </div>
    <div class="flex justify-center">
        {% block actions %}
            {% if setting('forumify.recaptcha.enabled') %}
                <button
                    class="btn-primary g-recaptcha"
                    data-sitekey="{{ setting('forumify.recaptcha.site_key') }}"
                    data-callback='onRegister'
                    data-action='register'
                >
                    <i class="ph ph-sign-in"></i>{{ 'registration.register'|trans }}
                </button>
            {% else %}
                <button class="btn-primary" type="submit">
                    <i class="ph ph-sign-in"></i>{{ 'registration.register'|trans }}
                </button>
            {% endif %}
        {% endblock %}
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if setting('forumify.recaptcha.enabled') %}
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script type="text/javascript">
            function onRegister() {
                document.getElementById('registration-form').submit();
            }
        </script>
    {% endif %}
{% endblock %}
