{% block header %}
    <header class="header">
        <div class="responsive flex">
            {% block header_logo %}
                <a href="{{ path('forumify_core_index') }}" class="header-logo">
                    <img src="{{ logo }}" alt="logo">
                    <span class="ml-2">{{ setting('forumify.title') }}</span>
                </a>
            {% endblock %}
            {% block header_navigtion %}
                <div class="flex flex-grow justify-end items-center">
                    {% include '@Forumify/frontend/blocks/header/menu_large.html.twig' %}
                    {% include '@Forumify/frontend/blocks/header/menu_mobile.html.twig' %}
                    {% if app.user is not null %}
                        {{ component('Notifications', { loading: 'defer' }) }}
                    {% endif %}
                    <a
                        class="btn-link btn-icon hide-phone"
                        href="{{ path('forumify_core_theme_toggle', { '_target_path': app.request.requestUri }) }}"
                        aria-label="{{ 'toggle_theme'|trans }}"
                        {{ stimulus_controller('forumify/theme') }}
                    >
                        <i class="ph ph-circle-half-tilt"></i>
                    </a>
                </div>
            {% endblock %}
        </div>
    </header>
{% endblock %}
