{% extends '@Forumify/admin/base.html.twig' %}
{% block title_page %}{{ 'admin.configuration.title'|trans }}{% endblock %}
{% block body %}
    <h1>{{ 'admin.configuration.title'|trans }}</h1>
    <div class="box">
        {{ form_start(form) }}
        {% embed '@Forumify/components/tabs.html.twig' %}
            {% block tabs %}
                <button type="button" class="btn-link" data-tab-id="general">{{ 'admin.configuration.general'|trans }}</button>
                <button type="button" class="btn-link" data-tab-id="spam-protection">{{ 'admin.configuration.spam_protection'|trans }}</button>
            {% endblock %}
            {% block tabpanels %}
                <div id="general">
                    {{ form_row(form.forumify__title) }}
                    {{ form_row(form.logo) }}
                    {{ form_row(form.defaultAvatar) }}
                    {{ form_row(form.forumify__enable_registrations) }}
                    {{ form_row(form.forumify__login_method) }}
                    {{ form_row(form.forumify__enable_auto_updates) }}
                </div>
                <div id="spam-protection">
                    {{ form_row(form.forumify__recaptcha__enabled) }}
                    {{ form_row(form.forumify__recaptcha__site_key) }}
                    {{ form_row(form.forumify__recaptcha__site_secret) }}
                </div>
            {% endblock %}
        {% endembed %}
        <div class="flex justify-center items-center gap-2">
            <button type="submit" class="btn-primary">{{ 'save'|trans }}</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
