{% extends '@Forumify/frontend/base.html.twig' %}
{% block title_page %}{{ user.displayName }}{% endblock %}
{% block body %}
    <div class="mb-8">
        {{ component('Forumify\\ProfileHeader', { user: user }) }}
    </div>
    <div class="grid gap-4">
            <div class="col-xs-12 col-md-4">
                {% block profile_badges %}
                    <div class="card">
                        <div class="card-title">
                            {{ 'profile.badges'|trans }}
                        </div>
                        <div class="card-body grid-xs-6 grid-md-4 gap-4">
                            {% for badge in user.badges %}
                                <img width="100%" height="auto" src="{{ asset(badge.image, 'forumify.asset') }}" title="{{ badge.name }}">
                            {% endfor %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        {% block profile_activity %}
            {% include '@Forumify/frontend/components/profile_activity.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}
