<div
    {{ attributes.defaults(stimulus_controller('forumify/forumify-platform/template_editor')) }}
    class="template-editor"
    style="height: 100vh;"
>
    {% include '@Forumify/admin/components/template_editor/file_browser.html.twig' %}
    <div class="h-100 flex-grow" id="{{ this.openFile }}">
        {% if this.openFile %}
            {% set fileContents = this.fileContents %}
            <div class="page-editor" {{ stimulus_controller('forumify/forumify-platform/tabs') }}>
                <div
                    class="tablist page-editor-tablist"
                    style="background-color: var(--c-elevation-1);"
                    role="tablist"
                    {{ stimulus_target('forumify/forumify-platform/tabs', 'tabs') }}
                >
                    {% for location in fileContents %}
                        {% if (location.namespace != 'Local' and location.content is not null) or (location.namespace == 'Local' and location.content is not null) %}
                            <button type="button" class="btn-link" data-tab-id="{{ location.key }}">
                                {{ location.namespace }}
                            </button>
                        {% elseif location.namespace == 'Local' and location.content is null %}
                            <button
                                type="button"
                                class="btn-link"
                                {{ live_action('overrideOpenFile') }}
                                data-tab-id="{{ location.key }}"
                            >
                                <i class="ph ph-plus"></i>
                                Create Local Override
                            </button>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="d-none flex-grow" {{ stimulus_target('forumify/forumify-platform/tabs', 'tabPanels') }}>
                    {% for location in fileContents %}
                        <div id="{{ location.key }}" class="h-100" style="position: relative">
                            {% set editorId = 'code-editor-' ~ location.key %}
                            <div
                                class="form-row code-editor code-editor-fullscreen"
                                {{ stimulus_controller('forumify/forumify-platform/code_editor', {
                                    editorId: editorId,
                                    language: 'twig',
                                    value: location.content ?? location.defaultContent,
                                    readonly: location.readonly,
                                }) }}
                            >
                                <div id="{{ editorId }}"></div>
                                <textarea
                                    class="d-none"
                                    data-model="norender|openFileContent"
                                    {% if not location.readonly %}
                                        {{ stimulus_target('forumify/forumify-platform/template_editor', 'codeEditor') }}
                                    {% endif %}
                                ></textarea>
                            </div>
                            {% if not location.readonly %}
                                <div class="toolbar">
                                    <button class="btn-link btn-small" {{ live_action('saveOpenFile') }}>
                                        <i class="ph ph-floppy-disk"></i> (ctrl+S)
                                    </button>
                                    <button class="btn-link btn-icon btn-small" {{ live_action('deleteOpenFile') }}>
                                        <i class="ph ph-trash"></i>
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
