{% extends '@Forumify/frontend/auth/auth.html.twig' %}
{% block title %}{{ parent() }} - {{ 'forgot_password.forgot_password'|trans }}{% endblock %}
{% block form_title %}{{ 'forgot_password.find_account'|trans }}{% endblock %}
{% block form %}
    {{ form_start(form, { attr: { id: 'forgot-password-form' } }) }}
    {{ form_widget(form) }}
    <div class="form-row d-none">
        <input id="human" type="checkbox" name="human">
        <label for="human">I am human</label>
    </div>
    <div class="flex justify-center gap-2">
        {% apply spam_protection_submit %}
            <button class="btn-primary" type="submit">
                <i class="ph ph-magnifying-glass"></i>{{ 'forgot_password.search'|trans }}
            </button>
        {% endapply %}
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ spam_protection_javascripts('forgot-password-form') }}
{% endblock %}
