<div {{ stimulus_controller('forumify/forumify-platform/menu') }} data-placement='{{ placement }}'>
    <a class='btn-link' {{ stimulus_target('forumify/forumify-platform/menu', 'openButton') }}>
        {{ name }}
    </a>
    <div class='menu' {{ stimulus_target('forumify/forumify-platform/menu', 'menu') }}>
        {{ inner|raw }}
    </div>
</div>
