<!DOCTYPE html>
<html lang="{{ app.locale }}">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            admin |
            {% if block('title_page') is not empty %}
                {% block title_page %}{% endblock %}
                -
            {% endif %}
            forumify
        {% endblock %}
    </title>
    <link rel="icon" type="image/svg+xml" href="{{ asset('bundles/forumify/images/forumify.svg') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
        {{ theme_tags(false) }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock %}
</head>
<body {{ stimulus_controller('forumify/forumify-platform/admin') }}>
<div class="flex">
    <nav class="navigation">
        {% block navigation %}
            <div class="flex items-center justify-between p-1 pl-2 pr-2 border-b">
                <div class="flex items-center navigation-brand">
                    <img class="logo" src="{{ asset('bundles/forumify/images/forumify.svg') }}" alt="logo">
                    <span>forumify</span>
                </div>
                <div class="nav-controls">
                    <a
                        class="btn-link btn-icon btn-small theme-selector"
                        href="{{ path('forumify_core_theme_toggle', { '_target_path': app.request.requestUri }) }}"
                        {{ stimulus_controller('forumify/forumify-platform/theme') }}
                    >
                        <i class="ph ph-circle-half-tilt"></i>
                    </a>
                    <button
                        type="button"
                        class="btn-link btn-icon btn-small menu-toggle"
                        {{ stimulus_action('forumify/forumify-platform/admin', 'toggleNavigation') }}
                    >
                        <i class="ph ph-caret-line-left"></i>
                    </button>
                </div>
            </div>
            <div class="navigation-section flex-grow">
                {% include '@Forumify/admin/components/navigation.html.twig' %}
            </div>
            <div class="navigation-section">
                <a class="btn-link navigation-row" href="{{ path('forumify_core_logout') }}"><i class="ph ph-sign-out"></i> {{ 'logout'|trans }}</a>
            </div>
        {% endblock %}
    </nav>
    <main class="flex flex-col">
        {% block flashbag %}
            {% set flashes = app.flashes %}
            {% if flashes is not empty %}
                <div class="flex flex-col gap-2 mb-4 flashbag">
                    {% for type, messages in flashes %}
                        {% for message in messages %}
                            <div class="alert-{{ type }}">
                                <p>{{ message|trans|capitalize }}</p>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}
        {% block body_wrapper %}
            <div class="responsive mt-4 mb-8">
                {% block body %}{% endblock %}
            </div>
        {% endblock %}
    </main>
</div>
</body>
</html>
