<div class="page-browser-navigation" {{ attributes }}>
    <ul>
        <li>
            <div class="p-2 flex flex-row gap-2">
                <input type="text" placeholder="{{ 'search'|trans }}" data-model="debounce(200)|search">
                <a class="btn-primary btn-icon" href="{{ path('forumify_admin_page_create') }}">
                    <i class="ph ph-plus"></i>
                </a>
            </div>
        </li>
        {% for slug in this.pageSlugs %}
            <li class="flex">
                <a class="btn-link btn-small text-small flex-grow" href="{{ path('forumify_admin_page', { slug: slug }) }}">
                    <span class="{{ page is not null and page.slug == slug ? 'text-black' : '' }}">{{ slug }}</span>
                </a>
                <a class="btn-link btn-small btn-icon" href="{{ path('forumify_admin_page_delete', { slug: slug }) }}">
                    <i class="ph ph-file-x"></i>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
