{% set isCurrentMonth = cursor|date('n') == this.view|date('n') %}
{% set isToday = cursor|date('Y-m-d') == this.now|date('Y-m-d') %}
<div class="
    calendar-day
    {% if not loop.parent.loop.last %}border-b{% endif %}
    {% if not loop.last %}border-r{% endif %}
    {% if not isCurrentMonth %}off-month{% endif %}
">
    <span class="text-small mb-1{% if isToday %} today{% endif %}">
        {{ cursor|date('j') }}
    </span>
    <div class="w-100 flex flex-col gap-1 p-1">
        {% for event in this.events(cursor) %}
            {% embed '@Forumify/components/modal.html.twig' %}
                {% block modalOpenButton %}
                    <a class="gap-1 event text-small">
                        <i class="dot mr-1" style="background-color: {{ event.calendar.color }}"></i>
                        <span class="text-bold">{{ event.start|date('H:i', event.start.timezone) }}</span>
                        <span class="text-light">{{ event.title }}</span>
                    </a>
                {% endblock %}
                {% block modalCloseButton %}{% endblock %}
                {% block modalContent %}
                    <div class="box rounded">
                        <div class="flex justify-between">
                            <div>
                                <p class="text-huge text-bold mb-2">
                                    <i style="background-color: {{ event.calendar.color }}; display: inline-block; width: 16px; height: 16px; border-radius: 8px"></i>
                                    {{ event.title }}
                                </p>
                                <p>{{ event.start|format_date(true) }}</p>
                            </div>
                            <div class="flex justify-end gap-1">
                                <a class="btn-link btn-icon" href="{{ path('forumify_calendar_event_edit', { slug: event.slug }) }}">
                                    <i class="ph ph-pencil-simple"></i>
                                </a>
                                <a class="btn-link btn-icon" href="{{ path('forumify_calendar_event_delete', { slug: event.slug }) }}">
                                    <i class="ph ph-trash"></i>
                                </a>
                                <a class="btn-link btn-icon" {{ stimulus_action('forumify/forumify-platform/modal', 'close') }}>
                                    <i class="ph ph-x"></i>
                                </a>
                            </div>
                        </div>
                        {% if event.content|striptags(['img']) is not empty %}
                            <div class="mt-4">
                                {{ event.content|rich }}
                            </div>
                        {% endif %}
                    </div>
                {% endblock %}
            {% endembed %}
        {% endfor %}
    </div>
</div>
