<div {{ attributes }}>
    <div class="mb-4 flex justify-between">
        {% include '@Forumify/frontend/components/calendar/calendar_select.html.twig' %}
        <div class="flex items-center gap-2">
            <button
                class="btn-link"
                {{ live_action('toggleViewMode') }}
            >
                {% if this.viewMode == 'month' %}
                    <i class="ph ph-calendar-dot"></i>Week
                {% else %}
                    <i class="ph ph-calendar-dots"></i>Month
                {% endif %}
            </button>
            {% if this.calendarRepository.countManageableCalendars > 0 %}
                <a class="btn-primary" href="{{ path('forumify_calendar_event_create', { calendar: this.selectedCalendar }) }}">
                    <i class="ph ph-plus"></i>
                    {{ 'calendar.event.create'|trans }}
                </a>
            {% endif %}
        </div>
    </div>
    <div class="card">
        <div class="card-title items-center">
            <button
                class="btn-link btn-icon"
                {{ live_action('prev') }}
            >
                <i class="ph ph-arrow-left"></i>
            </button>
            <span class="flex items-center gap-1">
                {{ this.view|date('F Y') }}
                {% if this.viewMode == 'week' %}
                    <span class="text-small text-light">(Week {{ this.view|date('W') }})</span>
                {% endif %}
            </span>
            <button
                class="btn-link btn-icon"
                {{ live_action('next') }}
            >
                <i class="ph ph-arrow-right"></i>
            </button>
        </div>
        <div class="w-100" style="max-width: 100%; overflow-x: auto">
            <div class="calendar">
                {% if this.viewMode == 'month' %}
                    {% include '@Forumify/frontend/components/calendar/calendar_month.html.twig' %}
                {% else %}
                    {% include '@Forumify/frontend/components/calendar/calendar_week.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
