{% embed '@Forumify/components/menu.html.twig' with { placement: 'bottom-start' } %}
    {% block open_button %}
        <button class='btn-outlined' {{ stimulus_target('forumify/forumify-platform/menu', 'openButton') }}>
            {% if this.selectedCalendar is null %}
                <i class="ph ph-calendar-blank"></i>
                {{ 'calendar.all_calendars'|trans }}
            {% else %}
                <i class="dot" style="background-color: {{ this.selectedCalendar.color }}"></i>
                {{ this.selectedCalendar.title }}
            {% endif %}
        </button>
    {% endblock %}
    {% block menu_items %}
        {% if this.selectedCalendar is not null %}
            <a class="btn-link" href="{{ path('forumify_calendar_all') }}">
                <i class="ph ph-calendar-blank"></i>
                {{ 'calendar.all_calendars'|trans }}
            </a>
        {% endif %}
        {% for calendar in this.calendarRepository.findAllVisibleCalendars %}
            <a class="btn-link" href="{{ path('forumify_calendar_all', { slug: calendar.slug }) }}">
                <i class="dot" style="background-color: {{ calendar.color }}"></i>
                {{ calendar.title }}
            </a>
        {% endfor %}
    {% endblock %}
{% endembed %}
