<div {{ attributes }}>
    <div class="mb-4 flex justify-between">
        {% include '@Forumify/frontend/components/calendar/calendar_select.html.twig' %}
        {% if this.calendarRepository.countManageableCalendars > 0 %}
            <a class="btn-primary" href="{{ path('forumify_calendar_event_create', { calendar: this.selectedCalendar }) }}">
                <i class="ph ph-plus"></i>
                {{ 'calendar.event.create'|trans }}
            </a>
        {% endif %}
    </div>
    <div class="card">
        <div class="card-title items-center">
            <button
                class="btn-link btn-icon"
                {{ live_action('prevMonth') }}
            >
                <i class="ph ph-arrow-left"></i>
            </button>
            <span>{{ this.view|date('F Y') }}</span>
            <button
                class="btn-link btn-icon"
                {{ live_action('nextMonth') }}
            >
                <i class="ph ph-arrow-right"></i>
            </button>
        </div>
        <div class="w-100" style="max-width: 100%; overflow-x: auto">
            <div class="calendar">
                {% set cursor = this.startDay() %}
                <div class="flex justify-between">
                    {% for day in 1..7 %}
                        <div class="w-100 flex justify-center p-1 border-b {% if not loop.last %}border-r{% endif %} text-small text-light">
                            {{ cursor|date('D')|upper }}
                            {% set cursor = cursor|date_modify('next day') %}
                        </div>
                    {% endfor %}
                </div>
                {% set cursor = this.startDay() %}
                {% for x in 0..5 %}
                    <div class="flex justify-between">
                        {% for y in 0..6 %}
                            {% include '@Forumify/frontend/components/calendar/calendar_day.html.twig' %}
                            {% set cursor = cursor|date_modify('next day') %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
