<div class="settings-form modal">
    <div class="card w-90" style="max-width: 900px">
        {% set title = ('admin.cms.widget.' ~ widget.name)|trans %}
        <div class="card-title">{{ title|trans }}</div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="flex justify-center">
                <button type="button" class="btn-primary close-settings">
                    {{ 'save'|trans }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
