<h4 class="mb-0">{{ ('admin.cms.widget.' ~ widget.name)|trans }}</h4>
<div
    class="widget"
    draggable="true"
    data-widget="{{ widget.name }}"
    {{ stimulus_target('forumify/forumify-platform/page_builder', 'widget') }}
>
    {{ widget.preview|raw }}
    <div class="widget-options">
        {% set btnClass = 'btn-link btn-icon btn-small' %}
        <button type="button" class="move {{ btnClass }}">
            <i class="ph ph-arrows-out-cardinal"></i>
        </button>
        <button type="button" class="settings {{ btnClass }}">
            <i class="ph ph-wrench"></i>
        </button>
        <button type="button" class="remove {{ btnClass }}">
            <i class="ph ph-trash"></i>
        </button>
    </div>
</div>
