<div
    class="widget card"
    draggable="true"
    data-widget="{{ widget.name }}"
    {{ stimulus_target('forumify/page-builder', 'widget') }}
>
    <div class="card-title flex justify-between items-center">
        <span>{{ name }}</span>
        <div class="widget-options">
            {% set btnClass = 'btn-link btn-icon btn-small' %}
            {% if widget.settingsForm %}
                <button type="button" class="settings {{ btnClass }}">
                    <i class="ph ph-wrench"></i>
                </button>
            {% endif %}
            <button type="button" class="remove {{ btnClass }}">
                <i class="ph ph-trash"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        {{ widget.preview|raw }}
    </div>
</div>
