{% extends '@Forumify/frontend/base.html.twig' %}
{% block title_page %}{{ 'account_settings.title'|trans }}{% endblock %}
{% block body %}
    <div class="box">
        {{ form_start(form) }}
        {% embed '@Forumify/components/tabs.html.twig' %}
            {% block tabs %}
                <button class="btn-link" type="button" data-tab-id="account-settings">{{ 'account_settings.title'|trans }}</button>
                <button class="btn-link" type="button" data-tab-id="notification-settings">{{ 'account_settings.notification_settings'|trans }}</button>
            {% endblock %}
            {% block tabpanels %}
                <div id="account-settings">
                    {{ form_row(form.displayName) }}
                    {{ form_row(form.newAvatar) }}
                    {{ form_row(form.signature) }}
                    {{ form_row(form.newPassword) }}
                </div>
                <div id="notification-settings">
                    {% set notifications = form.notificationSettings %}
                    <div class="mt-2 mb-2">
                        <h4 class="mb-2">{{ 'user_notification_settings_type.auto_subscribe'|trans }}</h4>
                        {{ form_row(notifications.autoSubscribeToOwnTopics) }}
                        {{ form_row(notifications.autoSubscribeToTopics) }}
                    </div>
                    <div>
                        <h4 class="mb-2">{{ 'user_notification_settings_type.email_on'|trans }}</h4>
                        {{ form_row(notifications.emailOnMessage) }}
                        {{ form_row(notifications.emailOnNotification) }}
                    </div>
                </div>
            {% endblock %}
        {% endembed %}
        <div class="flex justify-center mt-4">
            <button type="submit" class="btn-primary">{{ 'save'|trans }}</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
