{% set editorId = 'code-editor-' ~ form.vars.id %}
<div
    class="form-row code-editor code-editor-{{ form.vars.density|default('default') }}"
    {{ stimulus_controller('forumify/forumify-platform/code_editor', {
        editorId: editorId,
        language: form.vars.language,
        value: form.vars.value,
    }) }}
>
    {{ form_label(form) }}
    <div id="{{ editorId }}"></div>
    {{ form_widget(form, { attr: { class: 'd-none' } }) }}
    {{ form_help(form) }}
    {{ form_errors(form) }}
</div>
