<div class="form-row rich-editor" {{ stimulus_controller('forumify/forumify-platform/rich_editor') }}>
    {{ form_label(form) }}
    <div id="editor">
        {{ form.vars.value|raw }}
    </div>
    {{ form_widget(form, { attr: { class: 'd-none' } }) }}
    {{ form_help(form) }}
    {{ form_errors(form) }}
</div>
