{% extends '@Forumify/admin/base.html.twig' %}
{% block body %}
    <div class="mb-2">
        <a class="btn-link" href="{{ path('forumify_admin_plugin_list') }}">
            <i class="ph ph-arrow-left"></i>
            {{ 'admin.marketplace.back'|trans }}
        </a>
    </div>
    <h2>{{ 'admin.marketplace.title'|trans }}</h2>
    {% if customer is not null %}
        <div class="mb-2">
            <i class="ph ph-check-circle" style="color: #00FF00"></i>
            {{ 'admin.marketplace.customer_linked'|trans }}
        </div>
        <div class="flex flex-col gap-2">
            <a href="https://forumify.net/marketplace/customer/{{ customer.id }}" target="_blank">
                <i class="ph ph-arrow-bend-down-right"></i>
                {{ 'admin.marketplace.manage_subscriptions'|trans }}
            </a>
            <a href="https://forumify.net/marketplace" target="_blank">
                <i class="ph ph-arrow-bend-down-right"></i>
                {{ 'admin.marketplace.discover_plugins'|trans }}
            </a>
        </div>
        {% include '@Forumify/admin/plugin/marketplace_list.html.twig' with {
            plugins: customer.subscriptions,
            showInstallButton: false,
        } %}
    {% endif %}
    {% if error is not null %}
        <div class="alert-error">
            <p class="mb-2">
                <i class="ph ph-warning-circle"></i>
                {{ 'admin.marketplace.error'|trans }}
            </p>
            <p>{{ 'admin.marketplace.error_details'|trans }}</p>
            <pre class="mb-0 mt-2">{{ error }}</pre>
        </div>
    {% endif %}
{% endblock %}
