<!DOCTYPE html>
<html lang="{{ app.locale }}">
<head>
    {% set logo %}
        {%- if setting('forumify.logo') -%}
            {{ asset(setting('forumify.logo'), 'forumify.asset') }}
        {%- else -%}
            {{ asset('bundles/forumify/images/forumify.svg') }}
        {% endif %}
    {% endset %}

    {% block meta_tags %}
        {%- set title -%}
            {% apply spaceless %}
                {%- if block('title_page') is not empty -%}
                    {%- block title_page -%}{%- endblock -%}
                    {{- ' - ' -}}
                {%- endif -%}
                {{- setting('forumify.title') -}}
            {% endapply %}
        {%- endset -%}
        {% set absolute_request_url = absolute_url(app.request.requestUri) %}
        {% set absolute_logo = absolute_url(logo) %}

        {# Generic #}
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="title" content="{{ title }}">
        <meta name="image" content="{{ absolute_logo }}">

        {# OpenGraph #}
        <meta property="og:type" content="website">
        <meta property="og:url" content={{ absolute_request_url }}>
        <meta property="og:title" content="{{ title }}">
        <meta property="og:image" content="{{ absolute_logo }}">

        {# Twitter #}
        <meta property="twitter:url" content="{{ absolute_request_url }}">
        <meta property="twitter:title" content="{{ title }}">
        <meta property="twitter:image" content="{{ absolute_logo }}">
    {% endblock %}
    {% block icon %}
        <link rel="icon" href="{{ logo }}">
    {% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('frontend') }}
        {{ theme_tags() }}
    {% endblock %}
</head>
<body>
{% block base %}
    {% include '@Forumify/frontend/blocks/header/header.html.twig' %}
    {% include '@Forumify/frontend/blocks/alerts.html.twig' %}
    {% block body_wrapper %}
        <main class="responsive">
            {% block body %}{% endblock %}
        </main>
    {% endblock %}
    <footer class="mt-10">
        <p class="text-small">
            <!-- Modifying, hiding, or removing this section is forbidden. See LICENSE.md for more information. -->
            Powered by <a href="https://forumify.net">forumify</a>
        </p>
    </footer>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('frontend') }}
{% endblock %}
</body>
</html>
