{% extends '@Forumify/frontend/base.html.twig' %}
{% block body %}
    <div class="flex justify-center mt-10">
        <div class="card w-50">
            <div class="card-title">
                <h3 class="mb-0">
                    {{ code }}
                </h3>
            </div>
            <div class="card-body">
                {% set transKey = 'error.' ~ code %}
                {% set description = transKey|trans %}
                {% if transKey == description %}
                    {{ 'error.unknown'|trans }}
                {% else %}
                    {{ description }}
                {% endif %}
            </div>
        </div>
    </div>
    {% if is_granted(constant('Forumify\\Core\\Security\\VoterAttribute::Administrator').value) %}
        <div class="box mt-4 rich-text">
            <p class="text-small mb-2">{{ 'error.admin'|trans }}</p>
            <p class="text-bold">{{ exception.message }}</p>
            <pre class="text-small">{{ exception.traceAsString|nl2br }}</pre>
        </div>
    {% endif %}
{% endblock %}
