{% extends '@Forumify/frontend/base.html.twig' %}
{% block title_page %}{{ user.displayName }}{% endblock %}
{% block body %}
    <div class="mt-6 mb-6 flex flex-row items-start justify-center">
        <div class="profile-avatar w-50 pr-3 mr-3">
            {% include '@Forumify/components/avatar.html.twig' with {
                user: user,
                className: 'avatar-lg',
            } only %}
        </div>
        <div class="w-50">
            <div class="flex gap-4 mb-4">
                <div>
                    <h2 class="mb-0">{{ user.displayName }}</h2>
                    {% if not setting('forumify.hide_usernames') %}
                        <p class="text-small">@{{ user.username }}</p>
                    {% endif %}
                </div>
                {% if app.user is not null %}
                    {% if app.user.id != user.id %}
                        {{ component('SubscribeButton', {
                            entityId: user.id,
                            subscriptionType: 'user_follow',
                            subscribeIcon: '',
                            subscribeLabel: 'follow',
                            unsubscribeIcon: '',
                            unsubscribeLabel: 'unfollow',
                            buttonClass: 'btn-outlined'
                        }) }}
                    {% endif %}
                {% endif %}
            </div>
            <p class="mb-2">
                <span class="text-bold">{{ topicCount }}</span> topics
                <span class="text-bold ml-4">{{ commentCount }}</span> comments
            </p>
            <p class="mb-4">
                <span class="text-bold">{{ followerCount }}</span> followers
                <span class="text-bold ml-4">{{ followingCount }}</span> following
            </p>
            <p class="text-small">Registered: {{ user.createdAt|date('d M Y') }}</p>
            <p class="text-small">Last login: {{ user.lastLogin is not null ? user.lastLogin|date('d M Y') : 'never' }}</p>
        </div>
    </div>
    <div class="flex items-start gap-4">
        <div class="card w-30">
            <div class="card-title">
                {{ 'profile.badges'|trans }}
            </div>
            <div class="card-body flex flex-wrap">
                {% for badge in user.badges %}
                    <div class="w-25 p-2 flex flex-col justify-center items-center">
                        <img width="100%" height="auto" src="{{ asset(badge.image, 'forumify.asset') }}" title="{{ badge.name }}">
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="card w-70">
            <div class="card-title">
                {{ 'profile.activity'|trans }}
            </div>
            <div class="card-body">
                <ul>
                    {% for comment in comments|filter(comment => can('view', comment.topic.forum)) %}
                        <li class="flex flex-col items-start">
                            <a class="pb-1" href="{{ path('forumify_forum_topic', { slug: comment.topic.slug }) }}">
                                {{ comment.topic.title }}
                            </a>
                        </li>
                    {% else %}
                        {{ 'profile.no_activity'|trans }}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
