{% extends '@Forumify/admin/base.html.twig' %}
{% set logo %}
    {%- if setting('forumify.logo') -%}
        {{ asset(setting('forumify.logo'), 'forumify.asset') }}
    {%- else -%}
        {{ asset('bundles/forumify/images/forumify.svg') }}
    {% endif %}
{% endset %}
{% block body %}
    <div class="flex gap-4 items-end mb-8">
        <img src="{{ logo }}" alt="logo" width="75" height="75">
        <div class="flex flex-col">
            <h1 class="mb-2">{{ setting('forumify.title') }}</h1>
            <p class="text-light">{{ 'admin.dashboard.greeting'|trans({ user: app.user.displayName }) }}</p>
        </div>
    </div>
    {% if isCloudInstance %}
        {{ component('Forumify\\CloudInstanceStatus') }}
    {% endif %}
    <div class="grid gap-6">
        <div class="col-xs-12 col-md-6 col-lg-8">
            {{ component('Forumify\\Admin\\UserGraph') }}
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            {{ component('Forumify\\Admin\\NewUsers') }}
        </div>
        <div class="col-xs-12 col-md-6">
            {{ component('Forumify\\Admin\\TopicGraph') }}
        </div>
        <div class="col-xs-12 col-md-6">
            {{ component('Forumify\\Admin\\CommentGraph') }}
        </div>
        <div class="col-xs-12 col-md-6">
            {{ component('Forumify\\Admin\\LatestTopics') }}
        </div>
        <div class="col-xs-12 col-md-6">
            {{ component('Forumify\\Admin\\PopularTopics') }}
        </div>
    </div>
{% endblock %}
