{%- if user is not null -%}
    {% set color = user|role_color %}
    <a
        class="inline-flex items-center gap-1 {{ className|default('') }}"
        href="{{ path('forumify_forum_profile', { username: user.username }) }}"
        {{ stimulus_controller('forumify/forumify-platform/profile_preview', { userId: user.id }) }}
        {% if color is not null %}
            style="color: {{ color }};"
        {% endif %}
    >
        {{ user.displayName|default(user.username) }}
        {% if not hideOnline|default(false) and user.online %}
            <span class="dot" style="background-color: #57B357"></span>
        {% endif %}
    </a>
{%- else -%}
    <span>{{ 'deleted'|trans }}</span>
{%- endif -%}
