{%- if user is not null -%}
    {% set color = user|role_color %}
    <a
        class="{{ className|default('') }}"
        href="{{ path('forumify_forum_profile', { username: user.username }) }}"
        {{ stimulus_controller('forumify/profile-preview', { userId: user.id }) }}
        {% if color is not null %}
            style="color: {{ color }};"
        {% endif %}
    >
        {{ user.displayName|default(user.username) }}
        {% if user.oAuthClient is null %}
            {% if not hideOnline|default(false) and user.online %}
                <span class="dot relative" style="background-color: #57B357; top: -2px"></span>
            {% endif %}
        {% else %}
            <span class="tag text-extra-small text-black relative" style="top: -3px">APP</span>
        {% endif %}
    </a>
{%- else -%}
    <span>{{ 'deleted'|trans }}</span>
{%- endif -%}
