<div {{ attributes }}>
    <table>
        <thead>
        <tr>
            {% for col in this.columns %}
                <th>
                    <div class="flex justify-start items-center">
                        {% set label = col.label ?? col.name|capitalize %}
                        {% if col.sortable %}
                            {{ label }}
                            {% set sort = this.sort[col.name] ?? null %}
                            <a
                                class="ml-1 btn-link btn-small btn-icon"
                                data-action="live#action"
                                data-action-name="toggleSort(column={{ col.name }})"
                            >
                                <i class="ph ph-{{ sort == 'ASC' ? 'arrow-up' : (sort == 'DESC' ? 'arrow-down' : 'arrows-vertical') }}"></i>
                            </a>
                        {% else %}
                            {{ label }}
                        {% endif %}
                    </div>
                </th>
            {% endfor %}
        </tr>
        <tr>
            {% for col in this.columns %}
                {% if col.searchable %}
                    <th>
                        <input data-model="debounce(300)|search.{{ col.name }}">
                    </th>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in this.result.rows %}
            <tr>
                {% for col in row %}
                    <td {{ loop.last ? 'class="text-right"' : '' }}>{{ col|raw }}</td>
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                <td>
                    {{ 'no_entries'|trans }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        {% include '@Forumify/components/table/pagination.html.twig' with {
            rows: this.result.rows,
            totalCount: this.result.totalCount,
            limit: this.limit,
            currentPage: this.page
        } only %}
        </tfoot>
    </table>
</div>

