{% extends '@Forumify/admin/base.html.twig' %}
{% block body %}
    <div class="box">
        {{ form_start(form) }}
        {% embed '@Forumify/components/tabs.html.twig' %}
            {% block tabs %}
                <button type="button" class="btn-link" data-tab-id="role">{{ 'admin.role.crud.single'|trans|capitalize }}</button>
                <button type="button" class="btn-link" data-tab-id="permission">{{ 'admin.role.permissions'|trans }}</button>
                {% if data is not null %}
                    <button type="button" class="btn-link" data-tab-id="users">{{ 'admin.role.users'|trans }}</button>
                {% endif %}
            {% endblock %}
            {% block tabpanels %}
                <div id="role">
                    {{ form_row(form.title) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.administrator) }}
                    {{ form_row(form.showOnForum) }}
                    {{ form_row(form.showOnUsername) }}
                    {{ form_row(form.color) }}
                    <div class="flex justify-center items-center gap-2">
                        <button type="submit" class="btn-primary">{{ 'save'|trans }}</button>
                        <a href="{{ path('forumify_admin_roles_list') }}" class="btn-outlined">{{ 'cancel'|trans }}</a>
                    </div>
                </div>
                <div id="permission">
                    {% embed '@Forumify/components/tabs.html.twig' %}
                        {% block tabs %}
                            {% for child in form.permissions %}
                                <button type="button" class="btn-link text-capitalize" data-tab-id="{{ child.vars.id }}">{{ child.vars.label }}</button>
                            {% endfor %}
                        {% endblock %}
                        {% block tabpanels %}
                            {% for child in form.permissions %}
                                <div id="{{ child.vars.id }}">
                                    {% include '@Forumify/admin/role/permissions.html.twig' with { form: child } %}
                                </div>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                    <div class="flex justify-center items-center gap-2">
                        <button type="submit" class="btn-primary">{{ 'save'|trans }}</button>
                        <a href="{{ path('forumify_admin_roles_list') }}" class="btn-outlined">{{ 'cancel'|trans }}</a>
                    </div>
                </div>
                {% if data is not null %}
                    <div id="users">
                        {{ component('Forumify\\UsersInRoleTable', { class: 'clear-shadow', roleId: data.id }) }}
                    </div>
                {% endif %}
            {% endblock %}
        {% endembed %}

        {{ form_end(form) }}
    </div>
{% endblock %}
