{% extends '@Forumify/admin/base.html.twig' %}
{% block body %}
    {% set slug = forum is not null and forum.parent is not null ? forum.parent.slug : null %}
    <div class="mb-4 flex justify-between items-end">
        {% if forum is not null %}
            <a class="btn-link" href="{{ path('forumify_admin_forum', { slug: slug }) }}">
                <i class="ph ph-arrow-left"></i>
                {{ forum.parent.title ?? 'index'|trans }}
            </a>
            <a class="btn-link" href="{{ path('forumify_admin_acl', forum|acl_parameters) }}">
                <i class="ph ph-lock"></i>
                {{ 'admin.forum.acl'|trans }}
            </a>
        {% else %}
            <h4>{{ 'index'|trans }}</h4>
        {% endif %}
    </div>

    {% if form is not null %}
        <div class="box mb-6">
            {{ form_start(form) }}
            {% embed '@Forumify/components/tabs.html.twig' %}
                {% block tabs %}
                    <button type="button" class="btn-link" data-tab-id="general">{{ 'admin.forum.general'|trans }}</button>
                    <button type="button" class="btn-link" data-tab-id="display-settings">{{ 'admin.forum.display_settings'|trans }}</button>
                {% endblock %}
                {% block tabpanels %}
                    <div id="general">
                        {{ form_row(form.title) }}
                        {{ form_row(form.type) }}
                        {{ form_row(form.content) }}
                        {{ form_row(form.group) }}
                    </div>
                    <div id="display-settings">
                        {{ form_widget(form.displaySettings) }}
                    </div>
                {% endblock %}
            {% endembed %}
            <div class="flex justify-center gap-4">
                <button class="btn-primary">{{ 'save'|trans }}</button>
                <a href="{{ path('forumify_admin_forum', { slug: slug }) }}" class="btn-outlined">
                    {{ 'cancel'|trans }}
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    {% endif %}

    {{ component('ForumEditor', { forum: forum }) }}

    <div class="box mt-4">
        <a href="{{ path('forumify_admin_forum_group_create', { parent: forum ? forum.id : null }) }}">
            <i class="ph ph-plus"></i>
            {{ 'create_forum_group'|trans }}
        </a>
    </div>
{% endblock %}
