{% extends '@Forumify/components/list.html.twig' %}
{% block row %}
    <li class="comment" {{ stimulus_controller('forumify/forumify-platform/comment_edit', {
        updateUrl: path('forumify_forum_comment_edit', { id: item.id })
    }) }}>
        <div class="comment-author">
            {% include '@Forumify/components/avatar.html.twig' with { user: item.createdBy } only %}
            {% include '@Forumify/components/username.html.twig' with { user: item.createdBy } only %}
            <div class="flex flex-wrap justify-center gap-2 mt-4">
                {% for badge in item.createdBy.badges %}
                    <div class="w-15 flex justify-center items-center">
                        <img width="100%" height="auto" src="{{ asset(badge.image, 'forumify.asset') }}" alt="{{ badge.name }}">
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="comment-content">
            <div class="text-small text-secondary flex justify-between items-end">
                <span>{{ 'date_time_short'|trans({ date: item.createdAt }) }}</span>
                <div class="comment-toolbar">
                    {% if is_granted(constant('Forumify\\Core\\Security\\VoterAttribute::CommentEdit').value, item) %}
                        <a class="btn-link btn-small btn-icon text-secondary" {{ stimulus_action('forumify/forumify-platform/comment_edit', 'toggleEdit') }}>
                            <i class="ph ph-pencil"></i>
                        </a>
                    {% endif %}
                    {% if is_granted(constant('Forumify\\Core\\Security\\VoterAttribute::CommentDelete').value, item) %}
                        <a class="btn-link btn-small btn-icon text-secondary" href="{{ path('forumify_forum_comment_delete', { id: item.id }) }}">
                            <i class="ph ph-trash"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
            {{ item.content|rich }}
            {% if is_granted(constant('Forumify\\Core\\Security\\VoterAttribute::CommentEdit').value, item) %}
                <div class="d-none rich-editor" {{ stimulus_target('forumify/forumify-platform/comment_edit', 'editorContainer') }}>
                    <div class="flex justify-center items-center gap-2 mt-2">
                        <button type="button" class="btn-outlined" {{ stimulus_action('forumify/forumify-platform/comment_edit', 'discardEdit') }}>
                            {{ 'cancel'|trans }}
                        </button>
                        <button type="button" class="btn-primary" {{ stimulus_action('forumify/forumify-platform/comment_edit', 'save') }}>
                            {{ 'save'|trans }}
                        </button>
                    </div>
                </div>
            {% endif %}
            {{ component('CommentReactions', { comment: item }) }}
        </div>
    </li>
{% endblock %}
