{% extends '@Forumify/components/list.html.twig' %}
{% block row %}
    {# Mobile view #}
    <li class="comment-mobile">
        {% include '@Forumify/components/avatar.html.twig' with { user: item.createdBy } only %}
        <div>
            <div>
                {% include '@Forumify/components/username.html.twig' with { user: item.createdBy } only %}
                <span class="text-small text-secondary">
                    {{ 'date_short_time_short'|trans({ date: item.createdAt }) }}
                </span>
            </div>
            {% include '@Forumify/components/markdown.html.twig' with { content: item.content } only %}
            {{ component('CommentReactions', { comment: item }) }}
        </div>
    </li>

    {# Desktop view #}
    <li id="comment-{{ item.id }}" class="comment">
        <div class="comment-author">
            {% include '@Forumify/components/avatar.html.twig' with { user: item.createdBy } only %}
            {% include '@Forumify/components/username.html.twig' with { user: item.createdBy } only %}
        </div>
        <div class="comment-content">
            <div class="text-small text-secondary flex justify-between items-end">
                <span>{{ 'date_time_short'|trans({ date: item.createdAt }) }}</span>
                <div class="comment-toolbar">
                    {% if is_granted(constant('Forumify\\Core\\Security\\VoterAttribute::CommentEdit').value, item) %}
                        <a class="btn-link btn-small btn-icon text-secondary" {{ stimulus_controller('forumify/forumify-platform/comment_edit', {
                            id: item.id,
                            content: item.content,
                            updateUrl: path('forumify_forum_comment_edit', { id: item.id })
                        }) }}>
                            <i class="ph ph-pencil"></i>
                        </a>
                    {% endif %}
                    {% if is_granted(constant('Forumify\\Core\\Security\\VoterAttribute::CommentDelete').value, item) %}
                        <a class="btn-link btn-small btn-icon text-secondary" href="{{ path('forumify_forum_comment_delete', { id: item.id }) }}">
                            <i class="ph ph-trash"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
            {% include '@Forumify/components/markdown.html.twig' with { content: item.content } only %}
            {{ component('CommentReactions', { comment: item }) }}
        </div>
    </li>
{% endblock %}
