{% extends '@Forumify/components/list.html.twig' %}
{% block row %}
    <li class="comment" {{ stimulus_controller('forumify/forumify-platform/comment_edit', {
        updateUrl: path('forumify_forum_comment_edit', { id: item.id })
    }) }}>
        <div class="comment-author">
            {% include '@Forumify/components/avatar.html.twig' with { user: item.createdBy } only %}
            {% include '@Forumify/components/username.html.twig' with { user: item.createdBy, className: 'text-center' } only %}
            {% if item.createdBy %}
                {% if not setting('forumify.hide_usernames') %}
                    <span class="text-small">@{{ item.createdBy.username }}</span>
                {% endif %}
                <div class="flex flex-wrap justify-center gap-2 mt-4 hide-phone">
                    {% for badge in item.createdBy.badges %}
                        <div class="avatar-sm flex justify-center items-center">
                            <img width="100%" height="auto" src="{{ asset(badge.image, 'forumify.asset') }}" alt="{{ badge.name }}">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="comment-content">
            <div class="text-small text-secondary flex justify-between items-end">
                <span class="mb-2 flex flex-col">
                    {{ 'date_time_short'|trans({ date: item.createdAt }) }}
                    {% if item.updatedAt != item.createdAt and item.updatedBy is not null %}
                        {% set editor = item.updatedBy %}
                        <span class="text-light text-extra-small hide-phone">
                            {{ 'comment.edited'|trans({
                                user: editor.displayName|default(editor.username),
                                date: 'date_short_time_short'|trans({ date: item.updatedAt })
                            }) }}
                        </span>
                    {% endif %}
                </span>
                <div class="comment-toolbar">
                    {% if is_granted(constant('Forumify\\Core\\Security\\VoterAttribute::CommentEdit').value, item) %}
                        <a class="btn-link btn-small btn-icon text-secondary" {{ stimulus_action('forumify/forumify-platform/comment_edit', 'toggleEdit') }}>
                            <i class="ph ph-pencil"></i>
                        </a>
                    {% endif %}
                    {% if is_granted(constant('Forumify\\Core\\Security\\VoterAttribute::CommentDelete').value, item) %}
                        <a class="btn-link btn-small btn-icon text-secondary" href="{{ path('forumify_forum_comment_delete', { id: item.id }) }}">
                            <i class="ph ph-trash"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
            {{ item.content|rich }}
            {% if is_granted(constant('Forumify\\Core\\Security\\VoterAttribute::CommentEdit').value, item) %}
                <div class="d-none rich-editor" {{ stimulus_target('forumify/forumify-platform/comment_edit', 'editorContainer') }}>
                    <div class="flex justify-center items-center gap-2 mt-2">
                        <button type="button" class="btn-outlined" {{ stimulus_action('forumify/forumify-platform/comment_edit', 'discardEdit') }}>
                            {{ 'cancel'|trans }}
                        </button>
                        <button type="button" class="btn-primary" {{ stimulus_action('forumify/forumify-platform/comment_edit', 'save') }}>
                            {{ 'save'|trans }}
                        </button>
                    </div>
                </div>
            {% endif %}
            {{ component('CommentReactions', { comment: item }) }}
            <div class="hide-phone">
                {% if item.createdBy.signature|default('')|striptags %}
                    <hr class="mt-2 mb-2">
                    {{ item.createdBy.signature|rich }}
                {% endif %}
            </div>
        </div>
    </li>
{% endblock %}
