{% extends '@Forumify/components/list.html.twig' %}

{% block container %}
    <div class="messenger">
        <div class="thread-list">
            {{ parent() }}
        </div>
        <div class="thread">
            {% if this.selectedThread is not null %}
                <div class="card mb-4">
                    <div class="thread-header card-title justify-start p-4">
                        {% include '@Forumify/components/avatar.html.twig' with {
                            user: this.selectedThread.createdBy
                        } only %}
                        <div>
                            <h3 class="mb-0">{{ this.selectedThread.title }}</h3>
                            <div class="text-small text-secondary">
                                <p>Sent by {% include '@Forumify/components/username.html.twig' with { user: this.selectedThread.createdBy } only %}</p>
                                {{ this.selectedThread.createdAt|format_date }}
                            </div>
                        </div>
                    </div>
                    <ul class="thread-participants flex flex-wrap card-body items-center">
                        {% for participant in this.selectedThread.participants %}
                            <li class="flex items-center border-r pr-2 mr-2 gap-2">
                                <a class="flex items-center gap-2" href="{{ path('forumify_forum_profile', { username: participant.username }) }}">
                                    {% include '@Forumify/components/avatar.html.twig' with {
                                        user: participant,
                                        className: 'avatar-sm'
                                    } only %}
                                    {{ participant.displayName }}
                                </a>
                                <a
                                    href="{{ path('forumify_forum_messenger_remove_participant', { id: this.selectedThread.id, participantId: participant.id }) }}"
                                    class="btn-link btn-icon btn-small"
                                    title="{{ 'remove_participant'|trans }}"
                                >
                                    <i class="ph ph-minus-circle"></i>
                                </a>
                            </li>
                        {% endfor %}
                        <li>
                            <a
                                href="{{ path('forumify_forum_messenger_add_participant', { id: this.selectedThread.id }) }}"
                                class="btn-link btn-icon btn-small"
                                title="{{ 'add_participant'|trans }}"
                            >
                                <i class="ph ph-plus-circle"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                {{ component('MessageList', { lastPageFirst: true, threadId: this.selectedThread.id }) }}
            {% else %}
                <div class="no-thread-selected">
                    {{ 'select_message_thread'|trans }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block pagination_top %}
    <div class="card-title flex justify-between items-center">
        <span>{{ 'inbox'|trans }}</span>
        <a class="btn-primary btn-icon" href="{{ path('forumify_forum_messenger_thread_create') }}">
            <i class="ph ph-paper-plane-tilt"></i>
        </a>
    </div>
    {{ parent() }}
{% endblock %}

{% block row %}
    <a
        class="btn-link thread-row {% if this.selectedThread is not null and this.selectedThread.id == item.id %}thread-active{% endif %}"
        data-action="live#action"
        data-live-action-param="setSelectedThread"
        data-live-thread-id-param="{{ item.id }}"
    >
        <div class="thread-row-inner">
            {% include '@Forumify/components/avatar.html.twig' with {
                user: item.createdBy,
            } only %}
            <div>
                <div class="flex flex-col">
                    <span class="thread-title">
                        {{ item.title }}
                        {% if not item|read %}<i class="dot ml-1"></i>{% endif %}
                    </span>
                    <span class="text-small text-secondary">{{ item.createdAt|format_date }}</span>
                </div>
            </div>
        </div>
    </a>
{% endblock %}

{% block empty %}
    <span class="p-4">{{ 'no_messages'|trans }}</span>
{% endblock %}
