{% extends '@Forumify/components/list.html.twig' %}

{% block container %}
    <div class="w-100" data-loading="hide">
        {{ parent() }}
        <div class="box mt-4">
            {{ form_start(this.replyForm) }}
            {{ form_widget(this.replyForm) }}
            <div class="flex justify-center">
                <button type="submit" class="btn-primary">
                    <i class="ph ph-paper-plane-tilt"></i>
                    {{ 'reply'|trans }}
                </button>
            </div>
            {{ form_end(this.replyForm) }}
        </div>
    </div>
{% endblock %}

{% block row %}
    <div class="message">
        {% include '@Forumify/components/avatar.html.twig' with {
            user: item.createdBy,
        } only %}
        <div class="w-100">
            <div>
                {% include '@Forumify/components/username.html.twig' with { user: item.createdBy } only %}
                <span class="text-small text-secondary">{{ item.createdAt|format_date }}</span>
            </div>
            {{ item.content|rich }}
        </div>
    </div>
{% endblock %}
