{% set menuItems = menu is defined ? menu.entries : forum_menu.entries %}
{% for menuItem in menuItems %}
    {% if menuItem is instanceof('Forumify\\Core\\MenuBuilder\\MenuItem') %}
        <a class="btn-link" href="{{ menuItem.location }}">{{ menuItem.label }}</a>
    {% else %}
        <div {{ stimulus_controller('menu') }} data-placement="{{ menu is defined ? 'right' : 'bottom-start' }}">
            <a class="btn-link" {{ stimulus_target('menu', 'openButton') }}>
                {{ menuItem.label }}
            </a>
            <div class="menu" {{ stimulus_target('menu', 'menu') }}>
                {% include '@Forumify/frontend/components/navigation.html.twig' with {
                    menu: menuItem
                } only %}
            </div>
        </div>
    {% endif %}
{% endfor %}
