<div {{ attributes }} data-poll="delay(30000)|$render">
    {% set unseenCount = this.unseenCount %}
    <div {{ stimulus_controller('forumify/forumify-platform/menu', { hideAdornment: true, placement: 'bottom-end' }) }}>
        <a
            class="btn-link btn-icon{% if unseenCount == 0 %} btn-icon{% endif %}"
            data-action="live#action"
            data-live-action-param="markAsRead"
            {{ stimulus_target('forumify/forumify-platform/menu', 'openButton') }}
        >
            {% if unseenCount > 0 %}
                <i class="ph ph-bell-ringing"></i>{{ unseenCount }}
            {% else %}
                <i class="ph ph-bell"></i>
            {% endif %}
        </a>
        <ul class="menu" {{ stimulus_target('forumify/forumify-platform/menu', 'menu') }}>
            {% set notifications = this.notifications %}
            {% for notification in notifications %}
                {% set notificationType = this.notificationType(notification) %}
                {% if notificationType is not null %}
                    <li class="p-3 flex gap-2 notification">
                        {% set image = notificationType.image(notification) %}
                        {% if image is not empty %}
                            <img width="48px" height="48px" style="object-fit: contain" src="{{ notificationType.image(notification) }}" alt="">
                        {% endif %}
                        <div>
                            {% set notificationTitle %}
                                <p class="text-subtitle {% if not notification.seen %}text-bold{% endif %}">
                                    {{ notificationType.title(notification) }}
                                </p>
                            {% endset %}
                            {% set notificationUrl = notificationType.url(notification) %}
                            {% if notificationUrl is not empty %}
                                <a href="{{ notificationUrl }}">{{ notificationTitle }}</a>
                            {% else %}
                                {{ notificationTitle }}
                            {% endif %}
                            <p class="text-small">
                                {{ notificationType.description(notification) }}
                            </p>
                        </div>
                    </li>
                {% endif %}
            {% else %}
                <div class="flex justify-center p-6">
                    {{ 'no_notifications'|trans }}
                </div>
            {% endfor %}
            {% if unseenCount > notifications|length %}
                <hr>
                <li class="p-3 flex justify-center">
                    <a href="">See all notifications</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
