{% block profile_activity %}
    <div class="col-xs-12 col-md-8">
        <div class="card">
            <div class="card-title">
                {{ 'profile.activity.activity'|trans }}
            </div>
            <ul class="card-body">
                {% for comment in comments %}
                    {% set firstComment = comment == comment.topic.firstComment %}
                    <li class="mt-2 border-b">
                        <div class="flex">
                            {% set icon = firstComment ? 'ph-chat' : 'ph-arrow-bend-up-left' %}
                            <i class="ph {{ icon }} text-large mr-2"></i>
                            <a href="{{ path('forumify_forum_topic', {
                                slug: comment.topic.slug
                            }) }}">
                                {{ comment.topic.title }}
                            </a>
                        </div>
                        <div>
                            {% if firstComment %}
                                {{ 'profile.activity.created'|trans }}
                                <a href="{{ path('forumify_forum_forum', {
                                    slug: comment.topic.forum.slug
                                }) }}">
                                    {{ comment.topic.forum }}
                                </a>
                            {% else %}
                                {{ 'profile.activity.replied'|trans }}
                                <a href="{{ path('forumify_forum_profile', {
                                    username: user.username
                                }) }}">
                                    {{ comment.topic.createdBy.username }}
                                </a>
                                {{ 'profile.activity.topic'|trans }}
                                <a href="{{ path('forumify_forum_forum', {
                                    slug: comment.topic.forum.slug
                                }) }}">
                                    {{ comment.topic.forum }}
                                </a>
                            {% endif %}
                        </div>
                        <div class="mt-2 mb-5">
                            <p>
                                {{ comment.content|striptags|u.truncate(500, '...', false) }}
                            </p>
                        </div>
                        <div>
                            {% if firstComment %}
                                <p class="text-small">
                                    {{ comment.createdAt|format_date }}
                                </p>
                            {% else %}
                                <div class="flex gap-5 text-small">
                                    <p>
                                        {{ comment.createdAt|format_date }}
                                    </p>
                                    <div class="flex gap-2">
                                        <p>
                                            {{ max(0, comment.topic.comments.count - 1)|short_number  }}
                                            <i class="ph ph-arrow-bend-up-left"></i>
                                        </p>
                                        <p>
                                            {{ comment.topic.views|short_number }}
                                            <i class="ph ph-eye"></i>
                                        </p>
                                        <p>
                                            {{ comment.topic.firstComment.reactions.count|short_number }}
                                            <i class="ph ph-sparkle"></i>
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
