<div class="grid-2">
    {% block profile_avatar %}
        <div class="text-right border-r pr-3 mr-3">
            {% include '@Forumify/components/avatar.html.twig' with {
                user: user,
                className: 'avatar-lg',
            } only %}
        </div>
    {% endblock %}
    {% block profile_user %}
        <div>
            <div class="flex gap-2 mb-2">
                {% block profile_user_username %}
                    <div>
                        <h2 class="mb-0">
                            {{ user.displayName }}
                            {% if user.oAuthClient %}
                                <span class="tag text-regular ml-2">APP</span>
                            {% endif %}
                        </h2>
                        {% if not setting('forumify.hide_usernames') %}
                            <p class="text-small">@{{ user.username }}</p>
                        {% endif %}
                    </div>
                {% endblock %}
                {% block profile_user_actions %}
                    {% if this.showUserActions and app.user is not null and app.user.id != user.id %}
                        <a
                            class="btn-outlined btn-icon"
                            aria-label="{{ 'profile.message'|trans }}"
                            href="{{ path('forumify_forum_messenger_thread_create', { recipient: user.id }) }}"
                        >
                            <i class="ph ph-paper-plane-tilt"></i>
                        </a>
                        {{ component('SubscribeButton', {
                            entityId: user.id,
                            subscriptionType: 'user_follow',
                            subscribeIcon: '',
                            subscribeLabel: 'follow',
                            unsubscribeIcon: '',
                            unsubscribeLabel: 'unfollow',
                            buttonClass: 'btn-outlined'
                        }) }}
                    {% endif %}
                {% endblock %}
            </div>
            {% block profile_user_roles %}
                {% set roles = user.roleEntities|filter(r => r.showOnForum) %}
                {% if roles is not empty %}
                    <ul class="flex flex-col mb-2 text-small">
                        {% for role in roles %}
                            <li {% if role.color is not null and role.color != '#000000' %}style="color: {{ role.color }};"{% endif %}>
                                {{ role.title }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endblock %}
            {% block profile_user_stats %}
                <p class="mb-2">
                    <span class="text-bold">{{ this.topicCount }}</span> {{ 'profile.topics'|trans }}
                    <span class="text-bold ml-4">{{ this.commentCount }}</span> {{ 'profile.comments'|trans }}
                </p>
                <p class="mb-4">
                    <span class="text-bold">{{ this.followerCount }}</span> {{ 'profile.followers'|trans }}
                    <span class="text-bold ml-4">{{ this.followingCount }}</span> {{ 'profile.following'|trans }}
                </p>
            {% endblock %}
            {% block profile_user_timestamps %}
                <p class="text-small">{{ 'profile.registered'|trans({ date: user.createdAt|date('d M Y') })  }}</p>
                <p class="text-small">{{ 'profile.last_seen'|trans({ date: user.lastActivity is not null ? user.lastActivity|format_date : 'never' })   }}</p>
            {% endblock %}
        </div>
    {% endblock %}
</div>
