{% block profile_activity %}
    <div class="col-xs-12 col-md-8">
        <div class="card">
            <div class="card-title">
                {{ 'profile.activity.activity'|trans }}
            </div>
            <ul class="card-body p-0">
                {% for comment in comments %}
                    {% set firstComment = comment == comment.topic.firstComment %}
                    <li class="p-2 pr-4 pl-4 flex flex-col gap-2{% if not loop.last %} border-b{% endif %}">
                        <div class="flex items-center gap-1">
                            {% set icon = firstComment ? 'ph-chat' : 'ph-arrow-bend-up-left' %}
                            <i class="ph {{ icon }} text-large"></i>
                            {% if firstComment %}
                                {{ 'profile.activity.created'|trans }}
                                <a href="{{ path('forumify_forum_topic', {
                                    slug: comment.topic.slug
                                }) }}">
                                    {{ comment.topic }}
                                </a>
                                {{ 'profile.activity.in'|trans }}
                                <a href="{{ path('forumify_forum_forum', {
                                    slug: comment.topic.forum.slug
                                }) }}">
                                    {{ comment.topic.forum }}
                                </a>
                            {% else %}
                                {{ 'profile.activity.commented'|trans }}
                                <a href="{{ path('forumify_forum_topic', {
                                    slug: comment.topic.slug
                                }) }}">
                                    {{ comment.topic }}
                                </a>
                            {% endif %}
                        </div>
                        <p>
                            {{ comment.content|striptags|u.truncate(500, '...', false) }}
                        </p>
                        <div class="text-small">
                            {{ comment.createdAt|format_date }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
