{% extends '@Forumify/components/list.html.twig' %}
{% block list %}
    <ul>
        {% for topic in this.result.data %}
            <li class="flex flex-col topic-row justify-between {% if topic.hidden %}topic-hidden{% endif %}">
                <a class="topic-link" href="{{ path('forumify_forum_topic', { slug: topic.slug }) }}"></a>
                <div class="flex gap-4 mb-2">
                    <div class="flex-grow">
                        <div class="flex items-center gap-2 mb-1">
                            {% include '@Forumify/components/avatar.html.twig' with { user: topic.createdBy, className: 'avatar-sm' } only %}
                            <span class="flex items-baseline gap-2">
                            {% include '@Forumify/components/username.html.twig' with { user: topic.createdBy } only %}
                            <span class="text-small">
                                {{ 'date_time_short'|trans({ date: topic.createdAt }) }}
                            </span>
                        </span>
                        </div>
                        <h4 class="flex flex-row items-center gap-2">
                            {% if topic.pinned %}<i class="ph ph-push-pin"></i>{% endif %}
                            {% if topic.locked %}<i class="ph ph-lock"></i>{% endif %}
                            {% if topic.hidden %}<i class="ph ph-eye-slash"></i>{% endif %}
                            {{ topic.title }}
                        </h4>
                    </div>
                    <div class="flex flex-col items-end gap-1 hide-phone text-small">
                        <p>{{ max(0, topic.comments.count - 1)|short_number }} <i class="ph ph-arrow-bend-up-left"></i></p>
                        <p>{{ topic.views|short_number }} <i class="ph ph-eye"></i></p>
                        {% if topic.firstComment %}
                            <p>{{ topic.firstComment.reactions.count|short_number }} <i class="ph ph-sparkle"></i></p>
                        {% endif %}
                    </div>
                    {% if topic.lastComment %}
                        <div class="flex flex-col w-25 hide-phone hide-tablet">
                            <p class="text-small mb-1">{{ 'forum.topic.last_comment_by'|trans }}</p>
                            <div class="flex gap-2">
                                {% include '@Forumify/components/avatar.html.twig' with { user: topic.lastComment.createdBy, className: 'avatar-sm' } only %}
                                <div>
                                    {% include '@Forumify/components/username.html.twig' with { user: topic.lastComment.createdBy } only %}
                                    <p class="text-small">{{ 'date_time_short'|trans({ date: topic.lastComment.createdAt }) }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% if topic.forum.type == 'image' or (topic.forum.type == 'mixed' and topic.image) %}
                    {% set image = topic.image
                        ? asset(topic.image, 'forumify.media')
                        : (setting('forumify.logo') ? asset(setting('forumify.logo'), 'forumify.asset') : asset('bundles/forumify/images/forumify.svg')) %}
                    <div>
                        <img class="topic-image" src="{{ image }}" alt="">
                    </div>
                {% elseif topic.firstComment %}
                    <div class="topic-content">
                        {{ topic.firstComment.content|striptags('<br><p>')|u.truncate(600, '...', false)|raw }}
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
