{% set visibleForums = forums|filter(forum => can('view', forum)) %}
{% if visibleForums is not empty %}
    <div class="card">
        {% if title is defined %}
            <div class="card-title">
                <h3 class="text-subtitle">{{ title }}</h3>
            </div>
        {% endif %}
        <ul class="card-body">
            {% for forum in visibleForums %}
                {% set link = path('forumify_forum_forum', { slug: forum.slug }) %}
                <li class="forum">
                    <div class="forum-content">
                        <a href="{{ link }}">
                            <h4>{{ forum.title }}</h4>
                        </a>
                        <div>
                            <p class="mb-2">{{ forum.content|striptags|nl2br }}</p>
                            <div class="forum-subforums">
                                {% for subforum in forum.children|filter(subforum => can('view', subforum)) %}
                                    <a href="{{ path('forumify_forum_forum', { slug: subforum.slug }) }}">
                                        {{ subforum.title }}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% if forum.lastComment %}
                        {% set lastComment = forum.lastComment %}
                        {% set topic = lastComment.topic %}
                        <div class="forum-last-comment">
                            {% include '@Forumify/components/avatar.html.twig' with {
                                user: lastComment.createdBy
                            } only %}
                            <div class="flex flex-col">
                                <a href="{{ path('forumify_forum_topic', { slug: topic.slug }) }}">
                                    {{ topic.title }}
                                </a>
                                <span>
                                    {% set author %}
                                        {% include '@Forumify/components/username.html.twig' with { user: lastComment.createdBy } only %}
                                    {% endset %}
                                    {{ 'created_by'|trans({ author: author })|raw }}
                            </span>
                            </div>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
