{% extends '@Forumify/frontend/base.html.twig' %}
{% block title_page %}
    {{- forum is not null ? forum.title : 'forum' -}}
{% endblock %}
{% block meta_tags %}
    {{ parent() }}
    {% if forum is not null %}
        {% set description = forum.content|striptags|trim %}
        <meta property="description" content="{{ description }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="twitter:description" content="{{ description }}">
    {% endif %}
{% endblock %}
{% block body %}
    {{ component('Breadcrumbs', { entity: forum }) }}
    {% if forum is not null %}
        <div class="mb-4">
            <h1 class="mb-0">{{ forum.title }}</h1>
            {% if forum.content|striptags %}
                {{ forum.content|rich }}
            {% endif %}
        </div>
    {% endif %}
    {% if groups is not empty or ungroupedForums is not empty %}
        <div class="forum-list">
            {% for group in groups %}
                {% if can('view', group) %}
                    {% include '@Forumify/frontend/forum/forum_group.html.twig' with {
                        title: group.title,
                        forums: group.forums.toArray
                    } %}
                {% endif %}
            {% endfor %}
            {% if ungroupedForums is not empty %}
                {% include '@Forumify/frontend/forum/forum_group.html.twig' with {
                    forums: ungroupedForums
                } %}
            {% endif %}
        </div>
    {% endif %}
    {% if forum is not null %}
        <div class="flex justify-end gap-2 mt-6 mb-4 flex-wrap">
            {{ component('SubscribeButton', {
                entityId: forum.id,
                subscriptionType: constant('Forumify\\Forum\\Notification\\TopicCreatedNotificationType::TYPE')
            }) }}
            {% if can('create_topic', forum) %}
                <a class="btn-primary" href="{{ path('forumify_forum_topic_create', { id: forum.id }) }}">
                    <i class="ph ph-chats"></i>
                    {{ 'create_topic'|trans }}
                </a>
            {% endif %}
        </div>
        {% if forum.topics is not empty %}
            {{ component('TopicList', { forum: forum }) }}
        {% endif %}
    {% endif %}
{% endblock %}


