{% extends '@Forumify/frontend/base.html.twig' %}
{% block title_page %}
    {{- topic.title -}}
{% endblock %}
{% block meta_tags %}
    {{ parent() }}
    {% if topic.comments.first %}
        {% set description = topic.comments.first.content|u.truncate(200, '...', false).trim()|striptags %}
        <meta property="description" content="{{ description }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="twitter:description" content="{{ description }}">
    {% endif %}
{% endblock %}
{% block body %}
    {{ component('Breadcrumbs', { entity: topic }) }}
    <div class="topic">
        <div class="box topic-header">
            <div class="flex flex-row items-start">
                {% include '@Forumify/components/avatar.html.twig' with {
                    user: topic.createdBy,
                    className: 'hide-phone'
                } only %}
                <div>
                    <h2 class="mb-0">{{ topic.title }}</h2>
                    <div class="text-small">
                        {% set author %}
                            {% include '@Forumify/components/username.html.twig' with { user: topic.createdBy } only %}
                        {% endset %}
                        {{ 'created_by'|trans({ author: author })|raw }},
                        {{ 'date_time_short'|trans({ date: topic.createdAt }) }}
                    </div>
                </div>
            </div>
            <div class="flex gap-2">
                {{ component('SubscribeButton', {
                    entityId: topic.id,
                    subscriptionType: constant('Forumify\\Forum\\Notification\\CommentCreatedNotificationType::TYPE')
                }) }}
                {% if is_granted(constant('Forumify\\Core\\Security\\VoterAttribute::Moderator').value) %}
                    <div {{ stimulus_controller('forumify/forumify-platform/menu', { placement: 'bottom-end' }) }}>
                        <a class="btn-outlined btn-icon" {{ stimulus_target('forumify/forumify-platform/menu', 'openButton') }}>
                            <i class="ph ph-wrench"></i>
                        </a>
                        <div class="menu" {{ stimulus_target('forumify/forumify-platform/menu', 'menu') }}>
                            <a class="btn-link" href="{{ path('forumify_forum_topic_edit', { slug: topic.slug }) }}">
                                <i class="ph ph-pencil-simple-line"></i>
                                {{ 'forum.topic.actions.edit'|trans }}
                            </a>
                            <a class="btn-link" href="{{ path('forumify_forum_topic_pin', { slug: topic.slug }) }}">
                                {% if not topic.pinned %}
                                    <i class="ph ph-push-pin"></i>
                                    {{ 'forum.topic.actions.pin'|trans }}
                                {% else %}
                                    <i class="ph ph-push-pin-slash"></i>
                                    {{ 'forum.topic.actions.unpin'|trans }}
                                {% endif %}
                            </a>
                            <a class="btn-link" href="{{ path('forumify_forum_topic_lock', { slug: topic.slug }) }}">
                                {% if not topic.locked %}
                                    <i class="ph ph-lock"></i>
                                    {{ 'forum.topic.actions.lock'|trans }}
                                {% else %}
                                    <i class="ph ph-lock-open"></i>
                                    {{ 'forum.topic.actions.unlock'|trans }}
                                {% endif %}
                            </a>
                            <a class="btn-link" href="{{ path('forumify_forum_topic_hide', { slug: topic.slug }) }}">
                                {% if not topic.hidden %}
                                    <i class="ph ph-eye-slash"></i>
                                    {{ 'forum.topic.actions.hide'|trans }}
                                {% else %}
                                    <i class="ph ph-eye"></i>
                                    {{ 'forum.topic.actions.reveal'|trans }}
                                {% endif %}
                            </a>
                            <a class="btn-link" href="{{ path('forumify_forum_topic_move', { slug: topic.slug }) }}">
                                <i class="ph ph-arrow-right"></i>
                                {{ 'forum.topic.actions.move'|trans }}
                            </a>
                            <a class="btn-link" href="{{ path('forumify_forum_topic_delete', { slug: topic.slug }) }}">
                                <i class="ph ph-x"></i>
                                {{ 'forum.topic.actions.delete'|trans }}
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="comment-list">
            {{ component('CommentList', { topic: topic }) }}
        </div>
        {% if commentForm is not null %}
            <div class="box">
                {% if topic.locked %}
                    <div class="alert-warning mb-2">{{ 'forum.topic.locked_moderator'|trans }}</div>
                {% endif %}
                {{ form_start(commentForm) }}
                {{ form_widget(commentForm) }}
                <div class="flex justify-center">
                    <button class="btn-primary" type="submit">{{ 'create_comment'|trans }}</button>
                </div>
                {{ form_end(commentForm) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
